#### Removing Data Part II

So, you now have seen how we can fit a model by dropping rows with missing values.  This is great in that sklearn doesn't break! However, this means future observations will not obtain a prediction if they have missing values in any of the columns.

In this notebook, you will answer a few questions about what happened in the last screencast, and take a few additional steps.

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
import seaborn as sns
import RemovingData as t
%matplotlib inline

df = pd.read_csv('./survey_results_public.csv')

#Subset to only quantitative vars
num_vars = df[['Salary', 'CareerSatisfaction', 'HoursPerWeek', 'JobSatisfaction', 'StackOverflowSatisfaction']]


num_vars.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
0,NaN,NaN,0.0,NaN,9.0
1,NaN,NaN,NaN,NaN,8.0
2,113750.0,8.0,NaN,9.0,8.0
3,NaN,6.0,5.0,3.0,10.0
4,NaN,6.0,NaN,8.0,NaN

#### Question 1

**1.** What proportion of individuals in the dataset reported a salary?

In [41]:
prop_sals = 1-num_vars.Salary.isna().mean()

prop_sals

0.26222385090566436

In [42]:
t.prop_sals_test(prop_sals) #test

Nice job! That looks right!

#### Question 2

**2.** Remove the rows associated with nan values in Salary (only Salary) from the dataframe **num_vars**.  Store the dataframe with these rows removed in **sal_rem**.

In [43]:
sal_rm = num_vars[num_vars.Salary.isna()==False]

sal_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.0,8.0,NaN,9.0,8.0
14,100000.0,8.0,NaN,8.0,8.0
17,130000.0,9.0,NaN,8.0,8.0
18,82500.0,5.0,NaN,3.0,NaN
22,100764.0,8.0,NaN,9.0,8.0

In [44]:
t.sal_rm_test(sal_rm) #test

Nice job! That looks right!

#### Question 3

**3.** Using **sal_rm**, create **X** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question3_solution**.

In [45]:
sal_rm

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
2,113750.000000,8.0,NaN,9.0,8.0
14,100000.000000,8.0,NaN,8.0,8.0
17,130000.000000,9.0,NaN,8.0,8.0
18,82500.000000,5.0,NaN,3.0,NaN
22,100764.000000,8.0,NaN,9.0,8.0
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
36,28200.000000,7.0,NaN,9.0,7.0
37,118279.569892,NaN,1.0,NaN,8.0
52,15674.203822,6.0,4.0,5.0,8.0
54,64516.129032,9.0,NaN,9.0,9.0
57,43010.752688,10.0,2.0,6.0,10.0
61,6636.323594,5.0,NaN,5.0,9.0
64,69892.473118,8.0,NaN,5.0,7.0
65,17777.777778,8.0,NaN,8.0,7.0
69,32258.064516,10.0,NaN,8.0,NaN
70,65000.000000,8.0,2.0,5.0,7.0
72,120000.000000,8.0,NaN,5.0,8.0
75,46236.559140,6.0,2.0,2.0,9.0
76,96283.000000,10.0,NaN,8.0,7.0
81,110000.000000,7.0,NaN,6.0,8.0
83,165000.000000,6.0,6.0,5.0,10.0
89,113694.267516,9.0,NaN,9.0,10.0
90,38600.000000,8.0,NaN,6.0,9.0
95,53763.440860,7.0,NaN,7.0,7.0
97,27548.209366,8.0,NaN,8.0,9.0
99,109400.000000,8.0,NaN,8.0,5.0
102,83870.967742,9.0,NaN,6.0,9.0
103,51000.000000,10.0,NaN,10.0,8.0
104,17515.923567,6.0,1.0,6.0,8.0
...,...,...,...,...,...
18945,121500.000000,9.0,NaN,10.0,7.0
18946,38709.677419,7.0,NaN,6.0,8.0
18947,405.405405,3.0,NaN,6.0,7.0
18950,43750.000000,8.0,1.0,8.0,10.0
18955,23750.000000,7.0,1.0,4.0,9.0
18964,32962.962963,8.0,NaN,8.0,10.0
18984,37500.000000,7.0,0.0,7.0,9.0
18985,150000.000000,9.0,0.0,9.0,9.0
18989,155000.000000,8.0,NaN,8.0,10.0
18990,62500.000000,8.0,0.0,5.0,10.0
18996,37500.000000,9.0,NaN,9.0,9.0
19004,2040.740741,9.0,NaN,9.0,10.0
19005,65000.000000,8.0,4.0,5.0,NaN
19006,65000.000000,7.0,NaN,6.0,8.0
19011,31393.614888,3.0,1.0,5.0,8.0
19014,70000.000000,7.0,NaN,7.0,NaN
19016,18279.569892,6.0,NaN,7.0,NaN
19018,34408.602151,8.0,NaN,7.0,NaN
19020,5376.344086,8.0,NaN,8.0,8.0
19022,28506.787330,10.0,1.0,10.0,9.0
19039,2972.972973,8.0,NaN,8.0,8.0
19045,43010.752688,8.0,1.0,5.0,8.0
19046,43750.000000,8.0,NaN,9.0,8.0
19055,140000.000000,7.0,NaN,9.0,10.0
19073,87500.000000,9.0,NaN,6.0,NaN
19079,65000.000000,10.0,0.0,8.0,10.0
19086,80645.161290,10.0,NaN,8.0,10.0
19088,41250.000000,8.0,NaN,8.0,9.0
19089,50500.000000,7.0,30.0,6.0,9.0
19100,110000.000000,8.0,NaN,9.0,9.0

In [46]:
X = sal_rm[['CareerSatisfication','HoursPerWeek','JobSatisfication','StackOverflowSatisfication']]
y = sal_rm[['Salary']]

# Split data into training and test data, and fit a linear model
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=.30, random_state=42)
lm_model = LinearRegression(normalize=True)

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_model.fit(X_train, y_train)
except:
    print("Oh no! It doesn't work!!!")

KeyError: "['CareerSatisfication' 'JobSatisfication' 'StackOverflowSatisfication'] not in index"

In [47]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question3_solution = c

#test
t.question3_check(question3_solution)

Nice job! That's right! Those missing values in the X matrix will still not allow us to predict the response.

#### Question 4

**4.** Remove the rows associated with nan values in any column from **num_vars** (this was the removal process used in the screencast).  Store the dataframe with these rows removed in **all_rem**.

In [48]:
all_rm = num_vars.dropna()

all_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
52,15674.203822,6.0,4.0,5.0,8.0
57,43010.752688,10.0,2.0,6.0,10.0
70,65000.000000,8.0,2.0,5.0,7.0

In [49]:
t.all_rm_test(all_rm) #test

Nice job! That looks right.  The default is to drop any row with a missing value in any column, so we didn't need to specify any arguments in this case.

#### Question 5

**5.** Using **all_rm**, create **X_2** be a dataframe (matrix) of all of the numeric feature variables.  Then, let **y_2** be the response vector you would like to predict (Salary).  Run the cell below once you have split the data, and use the result of the code to assign the correct letter to **question5_solution**.

In [50]:
all_rm.head()

,Salary,CareerSatisfaction,HoursPerWeek,JobSatisfaction,StackOverflowSatisfaction
25,175000.000000,7.0,0.0,7.0,9.0
34,14838.709677,10.0,1.0,8.0,10.0
52,15674.203822,6.0,4.0,5.0,8.0
57,43010.752688,10.0,2.0,6.0,10.0
70,65000.000000,8.0,2.0,5.0,7.0

In [51]:
X_2 = all_rm[['CareerSatisfaction','HoursPerWeek','JobSatisfaction','StackOverflowSatisfaction']]
y_2 = all_rm[['Salary']]
# Split data into training and test data, and fit a linear model
X_2_train, X_2_test, y_2_train, y_2_test = train_test_split(X_2, y_2 , test_size=.30, random_state=42)
lm_2_model = LinearRegression(normalize=True)

# If our model works, it should just fit our model to the data. Otherwise, it will let us know.
try:
    lm_2_model.fit(X_2_train, y_2_train)
except:
    print("Oh no! It doesn't work!!!")

In [ ]:
a = 'Python just likes to break sometimes for no reason at all.' 
b = 'It worked, because Python is magic.'
c = 'It broke because we still have missing values in X'

question5_solution = b

#test
t.question5_check(question5_solution)

#### Question 6

**6.** Now, use **lm_2_model** to predict the **y_2_test** response values, and obtain an r-squared value for how well the predicted values compare to the actual test values.

In [53]:
y_test_preds = lm_2_model.predict(X_2_test)
r2_test =  r2_score(y_2_test['Salary'],y_test_preds)

# Print r2 to see result
r2_test

0.019170661803761924

In [54]:
t.r2_test_check(r2_test)

Nice job! That's right! Your rsquared matches the solution.

#### Question 7

**7.** Use what you have learned **from the second model you fit** (and as many cells as you need to find the answers) to complete the dictionary with the variables that link to the corresponding descriptions.

In [63]:
a = 5009
b = 'Other'
c = 645
d = 'We still want to predict their salary'
e = 'We do not care to predict their salary'
f = False
g = True

question7_solution = {'The number of reported salaries in the original dataset': a,
                       'The number of test salaries predicted using our model': c,
                       'If an individual does not rate stackoverflow, but has a salary': d,
                       'If an individual does not have a a job satisfaction, but has a salary': d,
                       'Our model predicts salaries for the two individuals described above.':f}
                      
                      
#Check your answers against the solution - you should be told you were right if your answers are correct!                     
t.question7_check(question7_solution)

Nice job! That looks right to me!  We would really like to predict for anyone who provides a salary, but our model right now definitely has some limitations.

In [ ]:
#Cell for work

In [60]:
num_vars.Salary.count()

5009

In [58]:
y_test_preds.shape

(645, 1)

In [ ]:
#Cell for work